# Notebook for checking that my data is what I expect

In [1]:
from __future__ import division, print_function, absolute_import

import time
import random
import glob
import os.path
import textwrap

from IPython.display import display, HTML, Image, Latex

%matplotlib inline
%config InlineBackend.figure_format='retina'
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
plt.rcParams['figure.figsize'] = 8, 8
import seaborn as sns
sns.set_style('white')

import numpy as np
import pandas as pd
import scipy.optimize
import scipy.spatial
import scipy.stats
import cv2
from tf import transformations

In [2]:
data = np.load("../data/board_data.npz")

In [28]:
df = pd.DataFrame(columns=[
    "bag_files", 
    "image_coords", 
    "object_coords", 
    "cam_rb_poses", 
    "cam_marker_counts", 
    "cal_markers_counts", 
    "cal_markers",
])
df.bag_files = np.array([x.strip().split("/")[-1] for x in data["bag_files"]])
df.image_coords = data["image_coordinates"]
print(data["image_coordinates"].shape)
print(data["object_coordinates"].shape)
print(data["camera_rb_poses"].shape)
# df.object_coords = data["object_coordinates"]
# df.cam_rb_poses = data["camera_rb_poses"]
df.cal_markers_counts = data["calibration_object_marker_counts"]
df.cam_marker_counts = data["camera_marker_counts"]

(70,)
(70, 187, 3)
(70, 4, 4)

In [27]:
df

,bag_files,image_coords,object_coords,cam_rb_poses,cam_marker_counts,cal_markers_counts,cal_markers
0,13_2018-08-25-17-08-32.bag,"[[987.5, 202.5], [1021.42, 215.489], [1005.76,...",NaN,NaN,5,5,NaN
1,13_2018-08-25-17-08-32.bag,"[[987.507, 202.458], [1021.39, 215.535], [1005...",NaN,NaN,5,5,NaN
2,13_2018-08-25-17-08-32.bag,"[[1036.86, 186.618], [1003.46, 173.907], [1070...",NaN,NaN,5,5,NaN
3,13_2018-08-25-17-08-32.bag,"[[987.644, 202.648], [1021.42, 215.489], [1005...",NaN,NaN,5,5,NaN
4,13_2018-08-25-17-08-32.bag,"[[987.507, 202.458], [1021.42, 215.489], [1005...",NaN,NaN,5,5,NaN
5,13_2018-08-25-17-08-32.bag,"[[987.531, 202.563], [1021.42, 215.489], [1005...",NaN,NaN,5,5,NaN
6,13_2018-08-25-17-08-32.bag,"[[987.634, 202.582], [1021.43, 215.441], [1005...",NaN,NaN,5,5,NaN
7,13_2018-08-25-17-08-32.bag,"[[987.639, 202.553], [1021.38, 215.53], [1005....",NaN,NaN,5,5,NaN
8,13_2018-08-25-17-08-32.bag,"[[987.507, 202.458], [1021.43, 215.337], [1005...",NaN,NaN,5,5,NaN
9,13_2018-08-25-17-08-32.bag,"[[987.649, 202.62], [1021.42, 215.489], [1005....",NaN,NaN,5,5,NaN
10,13_2018-08-25-17-08-32.bag,"[[1036.71, 186.54], [1003.57, 173.584], [1070....",NaN,NaN,5,5,NaN
11,13_2018-08-25-17-08-32.bag,"[[987.507, 202.458], [1021.45, 215.83], [1005....",NaN,NaN,5,5,NaN
12,13_2018-08-25-17-08-32.bag,"[[987.5, 202.5], [1021.51, 215.6], [1005.68, 2...",NaN,NaN,5,5,NaN
13,13_2018-08-25-17-08-32.bag,"[[987.634, 202.582], [1021.34, 215.679], [1005...",NaN,NaN,5,5,NaN
14,13_2018-08-25-17-08-32.bag,"[[987.649, 202.62], [1021.43, 215.337], [1005....",NaN,NaN,5,5,NaN
15,13_2018-08-25-17-08-32.bag,"[[987.644, 202.648], [1021.42, 215.489], [1005...",NaN,NaN,5,5,NaN
16,13_2018-08-25-17-08-32.bag,"[[987.645, 202.715], [1021.36, 215.702], [1005...",NaN,NaN,5,5,NaN
17,13_2018-08-25-17-08-32.bag,"[[987.577, 202.467], [1021.26, 215.497], [1005...",NaN,NaN,5,5,NaN
18,13_2018-08-25-17-08-32.bag,"[[1036.78, 186.538], [1003.46, 173.723], [1070...",NaN,NaN,5,5,NaN
19,13_2018-08-25-17-08-32.bag,"[[987.605, 202.489], [1021.52, 215.45], [1005....",NaN,NaN,5,5,NaN
20,13_2018-08-25-17-08-32.bag,"[[987.739, 202.599], [1021.43, 215.337], [1005...",NaN,NaN,5,5,NaN
21,13_2018-08-25-17-08-32.bag,"[[1036.71, 186.565], [1003.46, 173.907], [1070...",NaN,NaN,5,5,NaN
22,13_2018-08-25-17-08-32.bag,"[[987.605, 202.489], [1021.23, 215.573], [1005...",NaN,NaN,5,5,NaN
23,13_2018-08-25-17-08-32.bag,"[[1036.61, 186.511], [1003.5, 173.849], [1070....",NaN,NaN,5,5,NaN
24,13_2018-08-25-17-08-32.bag,"[[1036.86, 186.618], [1003.43, 173.653], [1070...",NaN,NaN,5,5,NaN
25,13_2018-08-25-17-08-32.bag,"[[987.615, 202.536], [1021.43, 215.337], [1005...",NaN,NaN,5,5,NaN
26,13_2018-08-25-17-08-32.bag,"[[987.476, 202.436], [1021.42, 215.489], [1005...",NaN,NaN,5,5,NaN
27,13_2018-08-25-17-08-32.bag,"[[987.474, 202.541], [1021.24, 215.557], [1005...",NaN,NaN,5,5,NaN
28,13_2018-08-25-17-08-32.bag,"[[987.507, 202.458], [1021.54, 215.391], [1005...",NaN,NaN,5,5,NaN
29,13_2018-08-25-17-08-32.bag,"[[987.5, 202.5], [1021.42, 215.489], [1005.76,...",NaN,NaN,5,5,NaN
...,...,...,...,...,...,...,...
40,2_2018-08-25-17-05-35.bag,"[[794.409, 210.631], [762.206, 205.831], [826....",NaN,NaN,5,5,NaN
41,2_2018-08-25-17-05-35.bag,"[[794.192, 210.482], [762.129, 206.096], [826....",NaN,NaN,5,5,NaN
42,2_2018-08-25-17-05-35.bag,"[[793.991, 210.383], [762.129, 206.096], [826....",NaN,NaN,5,5,NaN
43,2_2018-08-25-17-05-35.bag,"[[793.991, 210.383], [762.194, 205.882], [826....",NaN,NaN,5,5,NaN
44,2_2018-08-25-17-05-35.bag,"[[794.275, 210.589], [762.129, 206.096], [826....",NaN,NaN,5,5,NaN
45,2_2018-08-25-17-05-35.bag,"[[679.037, 671.378], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
46,2_2018-08-25-17-05-35.bag,"[[794.14, 210.456], [762.194, 205.882], [826.1...",NaN,NaN,5,5,NaN
47,2_2018-08-25-17-05-35.bag,"[[794.192, 210.482], [762.206, 205.831], [826....",NaN,NaN,5,5,NaN
48,2_2018-08-25-17-05-35.bag,"[[679.142, 671.42], [685.404, 636.297], [691.6...",NaN,NaN,5,5,NaN
49,2_2018-08-25-17-05-35.bag,"[[794.314, 210.569], [762.229, 205.688], [826....",NaN,NaN,5,5,NaN
50,2_2018-08-25-17-05-35.bag,"[[679.272, 671.502], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
51,2_2018-08-25-17-05-35.bag,"[[794.192, 210.482], [762.129, 206.096], [826....",NaN,NaN,5,5,NaN
52,2_2018-08-25-17-05-35.bag,"[[679.308, 671.361], [685.38, 636.19], [691.79...",NaN,NaN,5,5,NaN
53,2_2018-08-25-17-05-35.bag,"[[679.198, 671.477], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
54,2_2018-08-25-17-05-35.bag,"[[679.217, 671.377], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
55,2_2018-08-25-17-05-35.bag,"[[679.157, 671.314], [685.38, 636.19], [691.80...",NaN,NaN,5,5,NaN
56,2_2018-08-25-17-05-35.bag,"[[679.238, 671.338], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
57,2_2018-08-25-17-05-35.bag,"[[679.169, 671.27], [685.406, 636.247], [691.7...",NaN,NaN,5,5,NaN
58,2_2018-08-25-17-05-35.bag,"[[679.142, 671.42], [685.461, 636.309], [691.7...",NaN,NaN,5,5,NaN
59,2_2018-08-25-17-05-35.bag,"[[679.318, 671.233], [685.416, 636.153], [691....",NaN,NaN,5,5,NaN
60,2_2018-08-25-17-05-35.bag,"[[793.991, 210.383], [762.229, 205.688], [826....",NaN,NaN,5,5,NaN
61,2_2018-08-25-17-05-35.bag,"[[794.367, 210.459], [762.194, 205.882], [826....",NaN,NaN,5,5,NaN
62,2_2018-08-25-17-05-35.bag,"[[794.216, 210.86], [762.229, 205.688], [826.2...",NaN,NaN,5,5,NaN
63,2_2018-08-25-17-05-35.bag,"[[679.169, 671.27], [685.461, 636.309], [691.8...",NaN,NaN,5,5,NaN
64,2_2018-08-25-17-05-35.bag,"[[679.217, 671.377], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
65,2_2018-08-25-17-05-35.bag,"[[679.272, 671.502], [685.38, 636.19], [691.79...",NaN,NaN,5,5,NaN
66,2_2018-08-25-17-05-35.bag,"[[793.991, 210.383], [762.129, 206.096], [826....",NaN,NaN,5,5,NaN
67,2_2018-08-25-17-05-35.bag,"[[679.238, 671.338], [685.412, 636.184], [691....",NaN,NaN,5,5,NaN
68,2_2018-08-25-17-05-35.bag,"[[679.217, 671.377], [685.404, 636.297], [691....",NaN,NaN,5,5,NaN
69,2_2018-08-25-17-05-35.bag,"[[679.198, 671.477], [685.461, 636.309], [691....",NaN,NaN,5,5,NaN